{% extends 'dashbord/blog_base.html' %}	
{% block content %}
{% load static %}

	<section class="ptb-0">
		<div class="mb-30 brdr-ash-1 opacty-5"></div>
		<div class="container">
			<a class="mt-10" href="/"><i class="mr-5 ion-ios-home"></i>Home<i class="mlr-10 ion-chevron-right"></i></a>
			<a class="mt-10 color-ash" href="#">Blog Archive</a>
		</div><!-- container -->
	</section>

	<section>
		<div class="container">
			<div class="row">
			
				<div class="col-md-12 col-lg-8">
					
					<h4 class="p-title"><b>GIDES & ANLYTICS</b></h4>
					<div class="row">
						{% for i  in blog %}
						<div class="col-sm-6">
							<img src="{{i.box_image.url}}" alt="">
							<h4 class="pt-20"><a href="/blog/{{i.slug}}"><b>{{i.title}}</b></a></h4>
							<ul class="list-li-mr-20 pt-10 mb-30">
								<li class="color-lite-black">by <a href="#" class="color-black"><b>{{i.author}},</b></a>
								{{i.published_on}}</li>
								<li><i class="color-primary mr-5 font-12 ion-ios-bolt"></i>{{i.blog_views}}</li>
								<li><i class="color-primary mr-5 font-12 ion-chatbubbles"></i>47</li>
							</ul>
						</div><!-- col-sm-6 -->
						{% endfor %}
					</div><!-- row -->

					<div class="pagination ">
					    <span class="step-links">
					        {% if blog.has_previous %}
					            <a class="btn btn-brdr-primary mb-3" href="?page={{ blog.previous_page_number }}">previous</a>
					        {% endif %}

					        <span class="current">
					          <b> Page {{ blog.number }} of {{ blog.paginator.num_pages }}. </b>
					        </span>

					        {% if blog.has_next %}
					            <a class="btn btn-brdr-primary mb-3" href="?page={{ blog.next_page_number }}">next</a>
					        {% endif %}
					    </span>
					</div>

				</div><!-- col-md-9 -->
				
				{% endblock %} 