
<html>
<body style="text-align:center;" >

<h2>Crypto Currencies</h2>

<img id="myImage" src="http://mediad.publicbroadcasting.net/p/kdnk/files/styles/medium/public/201712/opengraph.png" style="width:300px">
<br>
<p id="adr"><b>Donate : 12C6ZY3qUSHh8jg8EXfShE8MefL5iS9Brt<b></p>

<br>
<input type="button" value="Bitcoin" onClick="(BTC(), BTC2())" >

<script>
function BTC() {
    document.getElementById('myImage').src='http://mediad.publicbroadcasting.net/p/kdnk/files/styles/medium/public/201712/opengraph.png';

}

function BTC2() {
    document.getElementById("adr").innerHTML = "<b>Donate : 12C6ZY3qUSHh8jg8EXfShE8MefL5iS9Brt<b>";
    
}

</script>
<br><br>
<input type="button" value="Ripple" onClick="(XRP(), XRP2())" >

<script>
function XRP() {
    document.getElementById('myImage').src='https://cdn.worldvectorlogo.com/logos/ripple-2.svg';

}

function XRP2() {
    document.getElementById("adr").innerHTML = "<b>Donate : rEb8TK3gBgk5auZkwc6sHnwrGVJH8DuaLh     Tag : 102303611 </b>";
    
}

</script>

<br><br>
<input type="button" value="Ethereum" onClick="(Eth(), Eth2())" >

<script>
function Eth() {
    document.getElementById('myImage').src='https://cdn4.iconfinder.com/data/icons/cryptocoins/227/ETH-512.png';

}

function Eth2() {
    document.getElementById("adr").innerHTML = "<b>Donate : 0xa1a12e8580f0296225fcdaa02377096e4c2fb6ba<b>";
    
}

</script>



<br><br>
<input type="button" value="Litecoin" onClick="(func1(), myFunction())" >

<script>
function func1() {
    document.getElementById('myImage').src='http://ltc.133.io/images/logosizes/ltc800.png';

}

function myFunction() {
    document.getElementById("adr").innerHTML = "<b>Donate : LfZFsrcvs8JRtNyp46VNJfcVGcUj3wiX5e<b>";
    
}

</script>

<br><br>


<input type="button" value="Ncash" onClick="(Ncash(), Ncash2())" >

<script>
function Ncash() {
    document.getElementById('myImage').src='https://scontent-ort2-1.cdninstagram.com/vp/7f3dc253673c976b242d648779b74a91/5B3CAA1E/t51.2885-15/e35/28435469_185140222106758_3524603291566604288_n.jpg';

}

function Ncash2() {
    document.getElementById("adr").innerHTML = "<b>Donate : 0xa1a12e8580f0296225fcdaa02377096e4c2fb6ba<b>";
    
}

</script>

<br><br>
</body>
</html>
