{% extends 'dashbord/base.html' %}
{% block content %}
{% load static %}
<head>
	<title>Newsbit</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8">
	
	<!-- Font -->
	<link href="https://fonts.googleapis.com/css?family=Encode+Sans+Expanded:400,600,700" rel="stylesheet">
	
	<!-- Stylesheets -->
	<link href="{% static 'blog/plugin-frameworks/bootstrap.css' %}" rel="stylesheet">
	
	<link href="{% static 'blog/fonts/ionicons.css' %}" rel="stylesheet">
		
	<link href="{% static 'blog/common/styles.css' %}" rel="stylesheet">
	
	
		<div class="container">
	

	<section class="pb-20">
		<div class="container">
			<h2 class="mb-50"><b>FAQs</b></h2>
		</div><!-- container -->
	</section>
	
	<section class="pt-0">
		<div class="container">
		
			<div class="accordian">
				<h5><a data-accordian="#accordian-1" class="a-title" href="#">
					<b>What is Bitcoin?</b><i class="ion-plus"></i></a></h5>
					
				<div class="a-body" id="accordian-1">
					<div class="a-body-inner">
						<p>You can read our safety and security guide which explains how to best secure your account. 
							But for the sake of convenience, here are a few tips that will protect you against the majority of 
							phishing and hacking attempts: </p>
						<a class="mt-15 link-brdr-btm-primary color-primary" href="#"><b>Read more</b></a>	
					</div><!-- a-body-inner -->	
				</div><!-- a-body -->	
			</div><!-- accordian -->
			
			<div class="accordian">
				<h5><a data-accordian="#accordian-2" class="a-title" href="#">
					<b>How can I increase the security of my account?</b><i class="ion-minus"></i></a></h5>
					
				<div class="a-body active" id="accordian-2">
					<div class="a-body-inner">
						<p>You can read our safety and security guide which explains how to best secure your account. 
							But for the sake of convenience, here are a few tips that will protect you against the majority of 
							phishing and hacking attempts: </p>
						<a class="mt-15 link-brdr-btm-primary color-primary" href="#"><b>Read more</b></a>	
					</div><!-- a-body-inner -->	
				</div><!-- a-body -->	
			</div><!-- accordian -->
			
			<div class="accordian">
				<h5><a data-accordian="#accordian-3" class="a-title" href="#">
					<b>What Can You Buy with Bitcoin?</b><i class="ion-plus"></i></a></h5>
					
				<div class="a-body" id="accordian-3">
					<div class="a-body-inner">
						<p>You can read our safety and security guide which explains how to best secure your account. 
							But for the sake of convenience, here are a few tips that will protect you against the majority of 
							phishing and hacking attempts: </p>
						<a class="mt-15 link-brdr-btm-primary color-primary" href="#"><b>Read more</b></a>	
					</div><!-- a-body-inner -->	
				</div><!-- a-body -->	
			</div><!-- accordian -->
			
			<div class="accordian">
				<h5><a data-accordian="#accordian-4" class="a-title" href="#">
					<b>How do Bitcoin Transactions Work?</b><i class="ion-plus"></i></a></h5>
					
				<div class="a-body" id="accordian-4">
					<div class="a-body-inner">
						<p>You can read our safety and security guide which explains how to best secure your account. 
							But for the sake of convenience, here are a few tips that will protect you against the majority of 
							phishing and hacking attempts: </p>
						<a class="mt-15 link-brdr-btm-primary color-primary" href="#"><b>Read more</b></a>	
					</div><!-- a-body-inner -->	
				</div><!-- a-body -->	
			</div><!-- accordian -->
			
			<div class="accordian">
				<h5><a data-accordian="#accordian-5" class="a-title" href="#">
					<b>Who is Satoshi Nakamoto?</b><i class="ion-plus"></i></a></h5>
					
				<div class="a-body" id="accordian-5">
					<div class="a-body-inner">
						<p>You can read our safety and security guide which explains how to best secure your account. 
							But for the sake of convenience, here are a few tips that will protect you against the majority of 
							phishing and hacking attempts: </p>
						<a class="mt-15 link-brdr-btm-primary color-primary" href="#"><b>Read more</b></a>	
					</div><!-- a-body-inner -->	
				</div><!-- a-body -->	
			</div><!-- accordian -->
			
			<div class="accordian">
				<h5><a data-accordian="#accordian-6" class="a-title" href="#">
					<b>What are Bitcoin Mining Pools?</b><i class="ion-plus"></i></a></h5>
					
				<div class="a-body" id="accordian-6">
					<div class="a-body-inner">
						<p>You can read our safety and security guide which explains how to best secure your account. 
							But for the sake of convenience, here are a few tips that will protect you against the majority of 
							phishing and hacking attempts: </p>
						<a class="mt-15 link-brdr-btm-primary color-primary" href="#"><b>Read more</b></a>	
					</div><!-- a-body-inner -->	
				</div><!-- a-body -->	
			</div><!-- accordian -->
			
			<div class="accordian">
				<h5><a data-accordian="#accordian-7" class="a-title" href="#">
					<b>How Does Cloud Mining Bitcoin Work?</b><i class="ion-plus"></i></a></h5>
					
				<div class="a-body" id="accordian-7">
					<div class="a-body-inner">
						<p>You can read our safety and security guide which explains how to best secure your account. 
							But for the sake of convenience, here are a few tips that will protect you against the majority of 
							phishing and hacking attempts: </p>
						<a class="mt-15 link-brdr-btm-primary color-primary" href="#"><b>Read more</b></a>	
					</div><!-- a-body-inner -->	
				</div><!-- a-body -->	
			</div><!-- accordian -->
			
			<div class="accordian">
				<h5><a data-accordian="#accordian-8" class="a-title" href="#">
					<b>What are pools how and how to join them?</b><i class="ion-plus"></i></a></h5>
					
				<div class="a-body" id="accordian-8">
					<div class="a-body-inner">
						<p>You can read our safety and security guide which explains how to best secure your account. 
							But for the sake of convenience, here are a few tips that will protect you against the majority of 
							phishing and hacking attempts: </p>
						<a class="mt-15 link-brdr-btm-primary color-primary" href="#"><b>Read more</b></a>	
					</div><!-- a-body-inner -->	
				</div><!-- a-body -->	
			</div><!-- accordian -->
			
			<div class="accordian">
				<h5><a data-accordian="#accordian-9" class="a-title" href="#">
					<b>What is the Difference Between Litecoin and Bitcoin?</b><i class="ion-plus"></i></a></h5>
					
				<div class="a-body" id="accordian-9">
					<div class="a-body-inner">
						<p>You can read our safety and security guide which explains how to best secure your account. 
							But for the sake of convenience, here are a few tips that will protect you against the majority of 
							phishing and hacking attempts: </p>
						<a class="mt-15 link-brdr-btm-primary color-primary" href="#"><b>Read more</b></a>	
					</div><!-- a-body-inner -->	
				</div><!-- a-body -->	
			</div><!-- accordian -->
			
			<div class="accordian">
				<h5><a data-accordian="#accordian-10" class="a-title" href="#">
					<b>How Does Blockchain Technology Work?</b><i class="ion-plus"></i></a></h5>
					
				<div class="a-body" id="accordian-10">
					<div class="a-body-inner">
						<p>You can read our safety and security guide which explains how to best secure your account. 
							But for the sake of convenience, here are a few tips that will protect you against the majority of 
							phishing and hacking attempts: </p>
						<a class="mt-15 link-brdr-btm-primary color-primary" href="#"><b>Read more</b></a>	
					</div><!-- a-body-inner -->	
				</div><!-- a-body -->	
			</div><!-- accordian -->
			
		</div><!-- container -->
	</section>
	

	
	<!-- SCIPTS -->
	
	<script src="{% static 'blog/plugin-frameworks/jquery-3.2.1.min.js' %}"></script>
	
	<script src="{% static 'blog/plugin-frameworks/tether.min.js' %}"></script>
	
	<script src="{% static 'blog/plugin-frameworks/bootstrap.js' %}"></script>
	
	<script src="{% static 'blog/common/scripts.js' %}"></script>
	
</body>

{% endblock %}