{% extends 'dashbord/base.html' %}
{% block content %}
{% load static %}

<style type="text/css">
 .content2 {
    width: 85%;
    margin-left: 2%;
}

.card.post_card {
    margin-bottom: 20px;
}

.pro {
    float: right;
}

i.pe-7s-angle-down-circle {
    font-size: 20px;
}   

.header {
    padding: 10px 0 0 !important; 
}

</style>

        <div class="content">
            <div class="container-fluid">
                <div class="row">

                    <div class="col-md-8">
                        {% for i in signels %}

                        <div class="card post_card ">
                            <div class="content2 ">
                                <div class="header">
                                    <div class="line">
                                    <image src="{{i.author.profile.Propic.url}}" height="30" width="30" >&nbsp;
                                    <a type="button" href="/profile/{{i.author.username}}" class="username"><b>{{i.author.username}}</b></a>
        

                                    <div class="pro">
                                        <ul class="nav navbar-nav navbar-left pos">
                                            <li class="dropdown">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                            <i class="pe-7s-angle-down-circle"></i>
                                            </a>
                                            <ul class="dropdown-menu">
                                                <li><a href="{% url 'post-edit' i.id %}">Edit</a></li>
                                                <li><a href="{% url 'post-delete' i.id %}">Delete</a></li>
                                                <li><a href="#">Notificati</a></li>
                                                
                                            </ul>
                                            </li>
                                        </ul>

                                    </div>
                                </div>
                                    <p class="category">{{i.title}} </p>
                                    <p class="category"><b>{{i.coin_name}}({{i.symbol}})</b></p>
                                    
                                </div>
                        
                                <script type="text/javascript" src="{% static 'dashboard/currency.js' %}"></script><div class="coinmarketcap-currency-widget" data-currencyid="{{ i.signal_id }}" data-base="USD" data-secondary="" data-ticker="false" data-rank="false" data-marketcap="false" data-volume="false" data-stats="USD" data-statsticker="false"></div>

                                <div class="footer" id="legend">
                                    <div class="legend">
                                        <b class="buy">buy</b>:{{ i.buy }} ,  &nbsp;
                                        <b class="sell">sell</b>: {{i.sell}},  &nbsp;
                                        <b class="stop loss">stop loss</b>: {{ i.stop_loss }}
                                    </div>
                                    <hr>
                                
                                    <div class="stats">
                                        <i class="fa fa-check">{{i.trade_time}}</i>
                                        <i class="fa fa-check">{{i.Exchange}}</i>
                                    </div>
                                </div>
                            </div>
                            </div>
                            {% endfor %}    
                        
                    </div>
                    <div class="col-md-4">
                        <div class="card card-user">
                            <div class="image">
                                <img src="https://ununsplash.imgix.net/photo-1431578500526-4d9613015464?fit=crop&fm=jpg&h=300&q=75&w=400" alt="..."/>
                            </div>
                            <div class="content">
                                <form method="post" action="/profile" enctype="multipart/form-data">
                                    {% csrf_token %}
                                <div class="author">
                                     <a href="#">
                                    <img class="avatar border-gray" src="{{ user.profile.Propic.url }}" alt="..."/>
                                    <div class="upload-button">
                                        <a type="button" href="{% url 'profile' user.username %}">Profile</a>
                                            
                                    </div>

                                      <h4 class="title">Mike Andrew<br />
                                         <small>@{{user.username}}</small>
                                      </h4>
                                    </a>
                                    <p class="description text-center"> {{user.profile.bio}}
                                        <br>   
                                </div>
                                <hr>
                                <div class="stats">
                                  <a type="button"  href="{% url 'post-create' %}" > Create Post</a>  
                                </div>
                                
                                </p>
                            </form>
                            </div>
                            <hr>
                            <div class="text-center">
                                <button href="#" class="btn btn-simple"><i class="fa fa-facebook-square"></i></button>
                                <button href="#" class="btn btn-simple"><i class="fa fa-twitter"></i></button>
                                <button href="#" class="btn btn-simple"><i class="fa fa-envelope-square"></i></button>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>


 {% endblock %}  