{% extends 'dashbord/base.html' %}
{% block content %}
{% load static %}

<style type="text/css">
 .content2 {
    width: 85%;
    margin-left: 2%;
}

.card.post_card {
    margin-bottom: 20px;
}

.pro {
    float: right;
}

i.pe-7s-angle-down-circle {
    font-size: 20px;
}   

.header {
    padding: 10px 0 0 !important; 
}

h7 {
    padding-top: 16px;
    float: left;
    font-size: small;
}


vr{ 
    margin-left: 20%;
    border:         none;
    border-left:    1px solid hsla(200, 10%, 50%,100);
    height:         100vh;
    width:          1px;       
}

.stats {
    display: grid;
}

.Followers {
    font-size: larger;
    float: left;
}

.Following {
    font-size: large;
    float: right;
}

</style>

        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    {% include 'posts/posts.html'%}
                   
                    <div class="col-md-4">
                        <div class="card card-user">
                            <div class="image">
                                <img src="{% static 'website/cover.jpg' %}" alt="..."/>
                            </div>
                            <div class="content" >
                                <form method="post" action="/profile" enctype="multipart/form-data">
                                    {% csrf_token %}
                                <div class="author">
                                     <a href="#">
                                    <img class="avatar border-gray" src="{{ user.profile.Propic.url }}" alt="..."/>

                                      <h4 class="title">{{user.first_name}}&nbsp;{{user.last_name}}<br />
                                         <small>@{{user.username}}</small>
                                      </h4>
                                    </a>
                                    <p class="description text-center"> {{user.profile.bio}}
                                        <br>   
                                </div>
                                <hr>
                                <div class="stats">
                                    <div class="follow">
                                    <div class="Followers"> Followers: {{followers_count}} </div> <vr> <div class="Following">Following: {{list_count|length}}
                                     </div>
                                     </div>
                                     <br>   
                                {% if request.user == user %}
                                <a type="button" class="btn" href="{% url 'profile-edit' user.username %}"> edit profile</a>  
                                <a type="button" class="btn" href="{% url 'post-create' %}" > Create Post</a>
                                {% endif %}
                                {% if request.user != user %}
                                    {% if not user in follower_list %}
                                        <a href="{% url 'follow' pk=user.pk %}"
                                         type="button" class="btn btn-success">follow
                                        </a>
                                    {% else %}
                                        <a href="{% url 'unfollow' pk=user.pk %}"
                                         type="button" class="btn btn-default">unfollow</a>

                                    {% endif %}
                                {% endif %}
                                </div>
                                
                                </p>
                            </form>
                            </div>
                            <hr>
                            <div class="text-center">
                                <button href="#" class="btn btn-simple"><i class="fa fa-facebook-square"></i></button>
                                <button href="#" class="btn btn-simple"><i class="fa fa-twitter"></i></button>
                                <button href="#" class="btn btn-simple"><i class="fa fa-envelope-square"></i></button>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>


 {% endblock %}  