{% extends 'dashbord/base.html' %}
{% block content %}
{% load static %}
<style type="text/css">

.pro-card {
    margin-left: 2%;
    width: 70%;
    display: inline-block;
}
.srch {
    float: right;
}

.bio{
	display: -webkit-inline-box;
    font-size: smaller;
    font-family: initial;
    color: darkgray;
}


</style>
<div class="content">
            <div class="container-fluid">
                <div class="row">
                	<div class="col-md-12">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Search</h4>
                                <p class="category">You searched for <b>{{ query }}<b></p>
                            </div>
                            <hr>
                    		{% for message in messages %}
			                <div class="alert {{ message.tags }} alert-dismissible" role="alert">
			                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
			                    <span aria-hidden="true">&times;</span>
			                      </button>
			                      {{ message }}
			                </div>
			              {% endfor %}
                		      {% for user in users %}
                            <div class="content1">
                                <div class="pro-card">
                                   <img height="50" width="50" src="{{user.profile.Propic.url}}"></li>
                                   <a href="/{{user.username}}"><b>{{user.username}}</b></a>
                                   <br>
                                   <div class="bio"><super> bio: {{user.profile.bio}}</super></div>
                                   
                                   
                                   <div class="srch">
                                   <a class="btn opro" type="button" href="/{{user.username}}">view profile</a>

                                   {% if request.user != user %}
                                    {% if not user in follower_list %}
                                        <a href="{% url 'follow' pk=user.pk %}"
                                         type="button" class="btn btn-success">follow
                                        </a>
                                    {% else %}
                                        <a href="{% url 'unfollow' pk=user.pk %}"
                                         type="button" class="btn btn-default">unfollow</a>

                                    {% endif %}
                                {% endif %}
              
         		                  </div>
                                </div>
                            </div>    
                       
                        <hr>
                        {% endfor %}
                        </div>
                        </div>           
         		</div>
         	</div>
</div> 

{% endblock %}