{% extends 'dashbord/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
{% load static %}
<head>
   

</head>

<div class="content">
	<div class="container-fluid">
    <form method="POST">
    	{% csrf_token %}
    	<fieldset class="form_group">
    		<legend class="border-bottom mb-4">create signel</legend>
            <div class="form-group">
    		{{ form|crispy }}
            </div>
    	</fieldset>
    	<div class="form_group">
    		<button class="btn btn-outline-info" type="submit">Post</button>
    </form>

    </div>
</div>

{% endblock %}  
